.product-card {
    height: 300px;
    width: 90%;
    margin: 5% auto;
    background-color: aliceblue;
    background-color: rgb(235, 192, 235);
}

.product-card:hover {
    cursor:pointer;
    width: 93%;
    height: 310px;
    margin: 3% auto;
}


.product-picture {
    width: 100%;
}
