#footer-content {
 width: 60%;
 height:300px;
 display: flex;
 margin: auto;
}

.column-ledge {
    width: 1px;
    background-color: gray;
    height: 90%;
    margin: auto;
}

.footer-column {
    margin: 0 2%;
    color: white;
}