.home-container {
    height: 60%;
    width: 90%;
    border: 1px black solid;
    border-radius: 10px;
    display: grid;
    margin: 0 auto;
    margin-top: 150px;
}

:host {
    height: 100%;
    width: 100%;
}