<!--<video width="100%" height="100%"  [autoplay]="'autoplay'" [loop]="'loop'"  [controls]="'controls'"  [muted]="'muted'">
    <source src="https://videos.ctfassets.net/hbmwn5pbkdff/2SkV0zIlpI71OgUsxjWw5G/0cb4317e470db0b3edd815943041b4f5/CONDE_NAST_REEL_16_9_FOR_QC_291019__1___1_.mp4" type="video/mp4">
</video>-->
<div class="home-base">
    <ng-container *ngIf="!!highlightedProducts && highlightedProducts.length>0">
        <app-products-container [highlightedProducts]="highlightedProducts"></app-products-container>
    </ng-container>
    <app-home-banner></app-home-banner>
</div>
